@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');


:root {
    --bg-main: #1A5446;
    --bg_main_2: #F5F5F5;
    --bg_head: #629F91;
    --fontText: 'Poppins', sans-serif;
    --fontTitleH: 'Rammetto One', sans-serif;
    --colorHead: #1E3932;
    --text-color: #ededed;
    --bg-btn: #feda7c;
    --second-bg-btn: #fb7e3e;
    --bg-color: #013a29;
    --second-bg-color: #fffcfb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: var(--fontText); /* Poppins */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-main);
    color: var(--fontText);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Estilos para titulos */
.title {
    font-family: var(--fontTitleH);
    font-weight: bold;
    font-size: 5rem;
    color: var(--bg-btn);
}

header.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    transition: .3s;
}

header.main.sticky {
    background: var(--bg-main);
}

nav.navbar {
    width: 100%;
}

.navbar-toggler {
    border: 1px solid var(--bg-btn);
}

.navbar-toggler .navbar-toggler-icon {
    width: 3.2rem;
    height: 3.2rem;
    color: var(--second-bg-btn);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 218, 125)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav, .navbar-nav .nav-link{
    color: var(--second-bg-color);
    font-size: 1.7rem;
    font-weight: 500;
    transition: .3s;
    gap: 88px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: var(--bg-btn);
}

#btn-login {
    width: 15rem;
    height: 52px;
    background: var(--bg-btn);
    border: 1px solid rgba(69, 72, 104, 0.2);
    border-radius: 0.8rem;
    letter-spacing: .1rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--bg-main);
}

#btn-login:hover {
    border: 1px solid var(--second-bg-btn);
    color: var(--second-bg-btn);
    background: transparent;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* HOME SECTION */

.home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 9%;
}

.textHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    height: 100%;
}

h2#textIndu {
    font-weight: bold;
    font-size: 16rem;
    color: var(--colorHead);
}
h1#textMain {
    font-family: var(--fontTitleH);
    font-weight: 500;
    font-size: 7.5rem;
    color: var(--second-bg-color);
    position: absolute;

    /* efecto neon */
    text-shadow: 0 0 5px #F79232, 0 0 15px #F79232, 0 0 30px #F79232, 0 0 50px #F79232;
    line-height: 1.3;
}
h3#textSub {
    color: var(--bg-btn);
    font-size: 3.2rem;
    font-weight: 700;
}

.text-area {
    width: 65%;
}

.text-area p{
    text-align: center;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
    color: var(--text-color);
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn,
.btn-box .btn-2 {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--second-bg-btn);
    text-transform: capitalize;
    border: 0.2rem solid var(--second-bg-btn);
    border-radius: 0.8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--text-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: var(--second-bg-btn);
}

.btn-box .btn-2 {
    background: transparent;
    color: var(--second-bg-btn);
    text-decoration: none;
}
.btn-box .btn-2:hover {
    color: var(--text-color);
}

.btn-box .btn::before,
.btn-box .btn-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #1A5446;
    z-index: -1;
    transition: .5s;
}

.btn-box .btn-2::before {
    background: var(--second-bg-btn);
}

.btn-box .btn:hover::before,
.btn-box .btn-2:hover::before{
    width: 100%;
}

/* DIVIDER */

.divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.divider-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.divider-bottom .shape-fill {
    fill: var(--second-bg-color);
}

/* ABOUT SECTION */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.about h3 {
    font-size: 3.6rem;
    color: #1A5446;
}

.container-about {
    height: 100%;
}

.container-about > .row:first-child {
    height: 35%;
    border-bottom: 1px solid var(--line-div);
}

.container-about > .row:nth-child(2) {
    height: 65%;
}

.row > .col-4:first-child {
    border-right: 1px solid var(--line-div);
}

.about-text {
    display: flex;
    align-items: center;
    padding: 0 0 0 3rem;
}

.about-text p {
    font-size: 20px;
    color: var(--bg-main);
}

/* FLAGS  */

.flag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.8rem;
}

.flag-spain {
    width: 150px;
    height: 280px;
    /* background: linear-gradient(to bottom, #aa151b 33.33%, #f1bf00 33.33%, #f1bf00 66.66%, #aa151b 66.66%); */
    background: linear-gradient(to bottom, #D31119 20%, #FFCD1B 20%, #FFCD1B 80%, #D31119 80%);
    border-radius: 20px;
}

.flag-brasil {
    position: relative;
    width: 280px; /*280 341*/
    height: 150px; /*150 172*/
    background-color: #009735;  /* Fondo verde #16b83e; */
    border-radius: 20px;
}

.flag-brasil::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 111px;
    height: 111px;
    border-radius: 15px;
    background-color: #F6D900; /* Losango amarillo */
    transform: translate(-50%, -50%) rotate(45deg);
    transform-origin: center;
}

.flag-brasil .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    background-color: #0F45AA; /* Círculo azul */
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.flag-india {
    width: 280px;
    height: 150px;
    background: linear-gradient(to bottom, #F79232 33.33%, #F5F5F5 33.33%, #F5F5F5 66.66%, #01981F 66.66%);
    border-radius: 20px;
}

.flag-kenia {
    width: 150px;
    height: 280px;
    background: linear-gradient(to bottom, #1C1C1C 20%, #B50000 20%, #B50000 80%, #006300 80%);
    border-radius: 20px;
}

/* ----------------------- */
/* ROADMAP SECTION */

/* ESTILOS SLIDER  */

.roadmap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.roadmap h2 {
    margin-top: 3.5rem;
    text-transform: capitalize;
}

.stages-container {

    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 8rem;
}

.stages-container .row {
    justify-content: center;
    margin: 0;
}

.card-stage {
    width: 45%; /* 565px*/
    height: 295px;
    border-radius: 10px;
    margin: .3rem;
    border: 1px solid var(--bg-btn);
    padding: 0;
    position: relative;

    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
    transition: background 1000ms ease;
    box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.03),
    0 22.3px 17.9px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
    overflow: hidden;
}

.card-stage:hover {
    background-position: 50% 80%;
}

.stages-container .row:first-child .card-stage:first-child {
    background-image: url('../media/maps/spain-3d.png');
}

.stages-container .row:first-child .card-stage:nth-child(2) {
    background-image: url('../media/maps/brazil-3d.png');
}

.stages-container .row:nth-child(2) .card-stage:first-child {
    background-image: url('../media/maps/india-3d.png');
}

.stages-container .row:nth-child(2) .card-stage:nth-child(2) {
    background-image: url('../media/maps/kenia-3d.png');
}

.card-stage:hover > .stage-description {
    bottom: -90px;
    transform: translateY(-90px);
    opacity: 1;
}

.stage-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background: #0009;
    width: 100%;
    height: 90px;
    padding: 15px 20px;
    font-size: 1.9rem;
    transition: transform 1000ms ease;
    opacity: 0;
}

.stage-description h2,
.stage-description span {
    color: rgb(226, 226, 226);
}

.stage-description h2 {
    letter-spacing: 1px;
    margin: 2px 0;
}

.stage-location::before{
    content: '\f3c5';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: var(--bg-btn);
    margin-right: 10px;
}

.stage-duration::before {
    content: '\f2f2';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: var(--bg-btn);
    margin-right: 10px;
}

/* CHARACTERS SECTION */

.characters {
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    background: var(--second-bg-color);
    min-height: auto;
    align-content: center;
    padding: 0 9% 2rem;
}

.characters h2 {
    text-align: center;
    margin: 84px 0;
    color: var(--bg-main);
}

.characters-container {
    width: 100%;
    display: flex;
    gap: 110px;
    margin-bottom: 4rem;
}

.character {
    position: relative;
    width: 33.33%;
    height: 550px;
    background: #000;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
}

.img-character {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.img-character::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
}

.character:first-child {
    left: 0;
    top: 50px;
    margin-right: 10px;

    background: red;
}

.character:nth-child(2) {
    left: 0;
    right: 0;
    margin: auto;

    background: greenyellow;
}

.character:nth-child(3) {
    right: 0;
    top: -50px;
    margin-left: 10px;

    background: blue;
}

.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #F7F7F7;
    z-index: 2;
}

.character:hover .details {
    bottom: 0;
}

/* ----------------------- */

/* SECTION TEAM */
.team {
    background: #353536;
    min-height:auto;
    height: auto;
}

.team h2 {
    text-align: center;
}

.equipo{
    display: flex;
    text-align: center;
    justify-content: center;
}

.info_team{
    margin: 40px 0px 50px 0px;
    color: var(--bg_main);
}
.info_team h3{
    font-size: 3rem;
    color: var(--second-bg-color);
    margin-top:  10px;
}

.info_team img{
    width:260px;
    height:260px;
    background-color: var(--second-bg-color);
    border-radius:150px;
    border:10px solid var(--bg-btn);
    
}

/* FOOTER */
#footer{
    width: auto;
    padding: 0 9% 2rem;
}
.ftr {
    display: flex;
    padding-bottom: 50px;
}

.menu_footer {
    margin: 100px 50px 0px 0px;
}

.menu_footer a {
    color: var(--second-bg-color);
    font-size: 20px;
}

.menu_footer a:hover{
color: var(--bg-btn);
transform: scale(1.1);
}

.redes {
    color: var(--bg-btn);
    margin: 0px 0px 0px 50px;
}
.redes i{
    justify-content: left;
    font-size:45px;
    margin: 35px 0px 0px 15px;
}
.redes i:hover{
    transform: scale(1.1);
    cursor:pointer;
    color: var(--second-bg-color);
}

#logo{
    padding: 100px 0px 0px 0px;
    margin: 0px 0px 20px 70px;
}

#copyright {
    display: flex;
    justify-content: center;
}

#copyright h6 {
    font-size: 1.6rem;
    color: var(--second-bg-color);
    font-weight: 300;
}


/* Estilos para pantallas pequeñas */
@media (max-width: 991px) {
    .ftr {
        flex-direction:column;
        align-items: center;
        text-align: center;
    }

    #logo{
        padding: 80px 0px 0px 0px;
        margin: 0px;
    }
    .redes {
        margin: 20px 20px 20px 0px; /* Espacio entre redes y logo */
        justify-content: center;
        display: flex;
        gap: 20px; 
    }


    .redes i{
        font-size: 35px;
    }

    .menu_footer{
        margin-top: 50px;
        justify-content: center;
        margin: 20px 0px 0px 0px; /* Espacio entre redes y logo */
    }

    .menu_footer a {
        font-size: 15px;
    }
        

        

    .titulo_team p{
        font-size:60px;
        padding: 40px 0px 0px 0px;
    }
    
    #copyright h6{
        font-size: 12px;
    }

    .info_team img{
        width:200px;
        height:200px;
    }

    
}
