@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

:root {
    --bg_main: #F7F7F7;
    --bg_main_2: #F5F5F5;
    --bg_head: #629F91;
    --fontTitle: 'Pixelify Sans', sans-serif;
    --fontText: 'Poppins', sans-serif;
    --fontTitleH: 'Rammetto One', sans-serif;
    --colorHead: #1E3932;
    --colorHead2: #CEDFDF;
    --colorHead3: #B1CFC8;
    --bg-btn-play: #F79232;
    --color-section-1: #FFCD1B;
    --line-div: #D4E9E0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fontText);
    height: 100%;
    background: var(--bg_main_2);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Estilos para titulos */
.title {
    font-family: var(--fontTitleH);
    font-weight: bold;
    font-size: 4.5rem;
    color: var(--color-section-1);
    text-transform: uppercase;
}

.title2 {
    font-family: var(--fontText);
    color: var(--colorHead);
    font-weight: 400;
    font-size: 2rem;
}

.title3 {
    font-family: var(--fontTitle);
    font-size: 4.5rem;
}

 /* Al hacer scroll */
.navbar {
    width: 100%;
    position: fixed;
    padding: 0 1rem 0 1rem;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
    background: rgba(30, 57, 50, .9);
    z-index: 1000; /* Asegura que el menú esté en el frente */
}

.navbar ul {
    width: 100%;
    justify-content: center;
    gap: 88px;

}
/* --------------------*/

.navbar a {
    color: var(--colorHead3);
    font-family: var(--fontText);
    font-size: 20px;
    margin-right: 100px;
}

.menu ul {
    display: flex;
    gap: 88px;
}

.btn.btn-outline{
   margin: 0px 10px 10px 0px;
   font-size: 20px;
   color: #CEDFDF;
   
}
.btn.btn-outline:hover{
    background-color: #182e28;
}

header.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    background: var(--bg_head);
    background-image: url('../img/background-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#btn-login {
    width: 127px;
    height: 52px;
    background: rgba(217, 217, 217, 0.2);
    border: 1px solid rgba(69, 72, 104, 0.2);
    border-radius: 10px;
    
    font-size: 18px;
    color: var(--bg_main_2);
}

#btn-login:hover {
    border: 1px solid var(--bg-btn-play);
    color: var(--color-section-1);
}


.textHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    height: 100%;
}

h2#textIndu {
    font-weight: bold;
    font-size: 150px;
    color: var(--colorHead);
}
h1#textMain {
    font-family: var(--fontTitleH);
    font-weight: 500;
    font-size: 7.5rem; /*250px*/
    color: var(--colorHead2);
    position: absolute;

    /* efecto neon */
    text-shadow: 0 0 5px #F79232, 0 0 15px #F79232, 0 0 30px #F79232, 0 0 50px #F79232;
}

.flicker1 {
    animation: parpadear 2s infinite backwards steps(3);
}

.flicker2 {
    animation: parpadear 1.5s infinite backwards steps(2);
}

@keyframes parpadear {
    to {
        color: gray;
        color: #FFCD1B;
        text-shadow: none;
    }
}

h3#textSub {
    color: var(--color-section-1);
}

.text-area {
    width: 65%;
    
}
.text-area p{
    text-align: center;
    font-size: 20px;
    color: var(--bg_main);
}

.btn {
    background: var(--bg-btn-play);
    color: var(--bg_main_2);
    font-weight: 500;
    font-size: 24px;
}

/* DIVIDER */
.divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.divider-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.divider-bottom .shape-fill {
    fill: var(--bg_main_2);
}

/* ------- */

section#about {
    height: 100vh;
    margin: 0 100px;
    padding: 4.5rem 0 0 0;
}

#about h3 {
    font-family: var(--fontText);
    font-size: 3rem;
    color: var(--color-section-1);
}

.container-about {
    height: 100%;
    background: var(--bg_main);
}

.container-about > .row:first-child {
    height: 35%;
    border-bottom: 1px solid var(--line-div);
}

.container-about > .row:nth-child(2) {
    height: 65%;
}

.row > .col-4:first-child {
    border-right: 1px solid var(--line-div);
}

.about-text {
    display: flex;
    align-items: center;
    padding: 0 0 0 3rem;
}

.about-text p {
    font-size: 20px;
}

/* FLAGS  */

.flag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.8rem;
}

.flag-spain {
    width: 150px;
    height: 280px;
    /* background: linear-gradient(to bottom, #aa151b 33.33%, #f1bf00 33.33%, #f1bf00 66.66%, #aa151b 66.66%); */
    background: linear-gradient(to bottom, #D31119 20%, #FFCD1B 20%, #FFCD1B 80%, #D31119 80%);
    border-radius: 20px;
}

.flag-brasil {
    position: relative;
    width: 280px; /*280 341*/
    height: 150px; /*150 172*/
    background-color: #009735;  /* Fondo verde #16b83e; */
    border-radius: 20px;
}

.flag-brasil::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 111px;
    height: 111px;
    border-radius: 15px;
    background-color: #F6D900; /* Losango amarillo */
    transform: translate(-50%, -50%) rotate(45deg);
    transform-origin: center;
}

.flag-brasil .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    background-color: #0F45AA; /* Círculo azul */
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.flag-india {
    width: 280px;
    height: 150px;
    background: linear-gradient(to bottom, #F79232 33.33%, #F5F5F5 33.33%, #F5F5F5 66.66%, #01981F 66.66%);
    border-radius: 20px;
}

.flag-kenia {
    width: 150px;
    height: 280px;
    background: linear-gradient(to bottom, #1C1C1C 20%, #B50000 20%, #B50000 80%, #006300 80%);
    border-radius: 20px;
}

/* ----------------------- */
/* SECTION ROADMAP */

/* ESTILOS SLIDER  */

#roadmap {
    min-height: calc(100vh - 4.5rem);
    padding: 3.3rem 0 0 0;
    background: #f5f5f5;
}

#roadmap h2,
#roadmap h3 {
    text-align: center;
}

.slide {
    height: 100vh;
    height: 100%;
}

.row-slide {
    margin: 0;
    height: 550px;
    height: 100%;
}

.slide-column {
    padding: 1rem 3.5rem;
}

#roadmap .col-6:first-child {
    background: none;
}

.slide-column:nth-child(2) {
    display: flex;
    justify-content: center;
    align-content: stretch;

    border-left: 3px solid #000000;
}

.slide-column img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;

    filter: drop-shadow(0 10px 10px #000);
}

.slide-column li {
    margin: 1rem 0;
}

.slide-column li::before {
    content: '\f058';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #629F91;
    margin-right: 10px;
}

.carousel-indicators [data-bs-target] {
    background-color: #1E3932;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffcd18' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffcd18' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* CHARACTERS SECTION */

/* ----------------------- */

/* SECTION TEAM */
section#team {
    background: #353536;
    min-height:auto;
    height: auto;
}
.titulo_team{
    text-align: center;
    justify-content: center;
    display: flex;
}
.titulo_team p{
    font-size:80px;
    color: var(--bg_head);
    font-family: var(--fontTitle);
    padding: 40px 0px 0px 0px;
}

.equipo{
    display: flex;
    text-align: center;
    justify-content: center;
}

.info_team {
    margin: 40px 0px 50px 0px;
    color: var(--bg_main);
}
.info_team h3{
    margin-top:  10px;
    font-family: 'Poppins', sans-serif; 
 }

.info_team img{
    width:260px;
    height:260px;
    background-color: var(--colorHead2);
    border-radius:150px;
    border:10px solid #629F91;
    
 }

/* FOOTER */
#footer{
    background-color: var( --bg_main);
    width: auto;
    font-family: 'Poppins', sans-serif;
}
.ftr {
    display: flex;
    padding-bottom: 50px;
}

.menu_footer {
    margin: 100px 50px 0px 0px;
}

.menu_footer a{
color: #000000;
font-size: 20px;
}

.menu_footer a:hover{
color: var( --bg_head);
transform: scale(1.1);
}

.redes {
    margin: 0px 0px 0px 50px;
}
.redes i{
    justify-content: left;
    font-size:45px;
    margin: 35px 0px 0px 15px;
}
.redes i:hover{
    transform: scale(1.1);
    cursor:pointer;
    color: var( --bg_head);
  }

#logo{
    padding: 100px 0px 0px 0px;
    margin: 0px 0px 20px 70px;
}

#copyright {
    display: flex;
    justify-content: center;
}


/* Estilos para pantallas pequeñas */
@media (max-width: 991px) {
    .ftr {
        flex-direction:column;
        align-items: center;
        text-align: center;
    }

    #logo{
        padding: 80px 0px 0px 0px;
        margin: 0px;
    }
    .redes {
        margin: 20px 20px 20px 0px; /* Espacio entre redes y logo */
        justify-content: center;
        display: flex;
        gap: 20px; 
    }


    .redes i{
        font-size: 35px;
    }

    .menu_footer{
        margin-top: 50px;
         justify-content: center;
         margin: 20px 0px 0px 0px; /* Espacio entre redes y logo */
    }

    .menu_footer a{
        font-size: 15px;
        }
        

        

    .titulo_team p{
        font-size:60px;
        padding: 40px 0px 0px 0px;
    }
    
    #copyright h6{
        font-size: 12px;
    }

    .info_team img{
        width:200px;
        height:200px;
        
     }

    
}
